@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
  
footer {
    margin-top: auto;
}

.lang-th {
    font-family: 'Kanit';
}

.navbar-profile-pic {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 360px;
}

.gradient-text {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.event-card {
    margin: 0.8rem 0px;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px 0px;
}

.event-card-emoji{
    font-size: 3rem;
}

.event-card-host{
    float: right;
}

.event-card-detail {
    font-weight: lighter;
}

.event-showcase {
    padding: 2rem 3rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.event-showcase-host{
    text-align: center;
}

.event-showcase-host img{
    width: 200px;
    height: 200px;
    border-radius: 360px;
}

.event-showcase-detail {
    font-size: 2rem;
}